body {
  font-family: sans-serif;
  font-size: 14px;
}

.contWrapper {
  margin: 20px auto;
  width: 90%;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #000;
}
.imageSec {
  width: 18%;
  display: inline-block;
}

.imgHolder {
  border-radius: 50%;
  border: 2px solid #ccc;
  padding: 10px;
  width: 120px;
  height: 120px;
  position: relative;
  left: 20px;
}

.imgHolder img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 1px;
  border-radius: 50%;
}

.introSec {
  width: 80%;
  display: inline-block;
}

.repoLink {
  margin: 15px 0px;
  font-weight: bold;
}

.repoLink i {
  font-size: 18px;
}

.listContainer {
  width: 100%;
  margin: 15px 0px;
  max-height: 152px;
  height: 152px;
}
.listing {
  width: 48%;
  border: 1px solid #000;
  padding: 10px;
  margin: 15px 0px;
  margin-right: 2%;
  max-height: 152px;
  height: 152px;
  float: left;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}

.listing h3 a {
  color: #428bca !important;
}

.listing button {
  margin-right: 10px;
}

.pageDisp {
  clear: both;
  width: 42%;
  margin: 30px auto;
}

.loadingSec {
  text-align: center;
}

.loadingSec span {
  font-size: 26px;
  position: relative;
  bottom: 5px;
}
